@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link href="@Url.Content("~/css/layout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" />
    <style type="text/css">
        #booking-container
        {
            height:100%;
            width:100%;
            position: relative;
            z-index:1;
        }
        #booking-content {
            width:65%;
            background-color:#FFFFFF;
            z-index:1;
            position: absolute;
            top: 43%;
            left: 50%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            --tw-shadow: 0px 3px 6px hsla(0,0%,53.3%,0.1607843137254902);
            box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
            border-radius: 32px;
        }
        .search-wrapper{
            position: relative;
            height:70px;
            padding: 20px 0;
        }
        .search-text{
            position: absolute;
            left: 20px;
            top: 5px;
        }
        .search-bottom{
            position: absolute;
            right:20px;
            bottom:5px;
            border: none;
        }
        .search-drop-down-list
        {
            color: #000000 !important;
            border: none;
            max-height: 30px !important;
            padding: 4px 30px !important;
        }
        .search-btn
        {
            width: 70px;
            border-radius: 32px;
            background-color: #6988A9 !important;
            position: absolute;
            right: 10px;
        }
        select {
            color: #666;
            border: unset; 
            height: unset; 
            padding: unset; 
            outline: unset; 
            line-height: unset; 
            -webkit-border-radius: unset; 
            -moz-border-radius: unset;
            border-radius: unset; 
        }
        #search-input
        {
            border: none !important;
        }

        .time-range-input
        {
            cursor: pointer;
        }

        #booking-content
        {
            font-size: 18px;
        }
        .pointer{
            cursor: pointer;
        }
    </style>
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:100vh">
    <div id ="booking-container" class="carousel-inner" role="listbox">
        <div id="booking-content">
            <div class="row">
                <div id="search-input-wrapper" class="col-lg-5 col-md-12 col-sm-12 col-xs-12 vertical-container search-wrapper pointer">
                    <input id="search-input" style="margin-left: 10%;" class="controls pointer" type="text" placeholder="租車地點?" value="台北市"/>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 vertical-container search-wrapper"> 
                    <div class="search-text">起始時間</div>
                    <div class="date-time-wrapper" style="position: absolute; bottom: 0px; right:0px">
                        <text id="start-date" class="time-range-input">01-01</text>
                        <select id="start-time" style="font-size: 18px;" class="pointer">
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                        </select>
                     </div>
                     <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" style="visibility:hidden;" />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 vertical-container search-wrapper"> 
                    <div class="search-text">結束時間</div>
                    <div class="date-time-wrapper" style="position: absolute; bottom: 0px; right:0px">
                        <text id="end-date" class="time-range-input">02-01</text>
                        <select id="end-time"  style="font-size: 18px;" class="pointer">
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                        </select>
                     </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 vertical-container search-wrapper"> 
                    <div class="search-text">座位數</div>
                    <div class="search-bottom">
                        <select id="car-seat" class="form-control search-drop-down-list pointer" style="font-size: 18px;">
                            <option value="">座位數</option>
                            <option value="5">5 人以下</option>
                            <option value="6">6 人以上</option>
                            <option value="9">9 人款式</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 vertical-container search-wrapper">
                    <button href="#" class="btn btn-default btn-featured btn-inverse btn-round search-btn" onclick="search()">
                        <i class="fa fa-search btn-round"></i>
                    </button>
                     <button class="app-button"  href="#" onclick="search()">
                         送出
                    </button>
                </div>
            </div>
        </div>
        <div class="carousel-item active" style="height:100%;width:100%" alt="First slide">
            <section class="sliderImg d-block img-fluid" style="height:100%;width:100%"></section>
        </div>
        <div class="carousel-item" style="height: 100%">
            <section class="sliderImg2 d-block img-fluid" alt="Second slide" style="height:100%;width:100%"></section>
        </div>
    </div>
</div>
<div style="height:1000px"> 
    
</div>
@section Scripts
{
   <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){<!--from ww  w .  j  a va 2s  .co  m-->
            $("#search-input-wrapper").click(function(){
                $("#search-input").trigger("focus");
            });
            $("#search-input-wrapper").click(function(){
                $("#search-input").triggerHandler("focus");
            });
        });
        var lat;
        var lng;
        function initMap() {
            initSearch()
        }
        function initSearch() {
            const input = document.getElementById("search-input");
            const searchBox = new google.maps.places.SearchBox(input);

            let markers = [];

            searchBox.addListener("places_changed", () => {
                const places = searchBox.getPlaces();
                console.log(places);
                if (places.length == 0) {
                    return;
                }

                markers.forEach((marker) => {
                    marker.setMap(null);
                });

                markers = [];

                const bounds = new google.maps.LatLngBounds();

                places.forEach((place) => {
                    lat = place.geometry.location.lat();
                    lng = place.geometry.location.lng();
                    if (!place.geometry || !place.geometry.location) {
                        console.log("Returned place contains no geometry");
                        return;
                    }

                    const icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25),
                    };
                });
            }); 
        }
        function search(){
            var start = $('input[name="daterange"]').data('daterangepicker').startDate.format('YYYY-MM-DD')+' '+$("#start-time").val();
            var end = $('input[name="daterange"]').data('daterangepicker').endDate.format('YYYY-MM-DD')+' '+$("#end-time").val();
            var seat= $("#car-seat").val();
            var datearray = {
                StartDate : $("#start-date").html(),
                EndDate : $("#end-date").html(),
            };
            if (typeof(Storage) !== "undefined") {
                window.localStorage.setItem('date', JSON.stringify(datearray));
            } else {
                var message = "not working!"
                window.localStorage.setItem('error',JSON.stringify(message));
            }
            window.location.href = '@Url.Action("List", "Car")'+'?StartDateTime='+start+'&EndDateTime='+end + '&Seat=' + seat + '&Lat=' +lat+ '&Lng=' +lng;
        }
        $(document).ready(function() {
            $(function() {
                $('input[name="daterange"]').daterangepicker({
                    opens: 'right',
                    locale : {
                        applyLabel : "確定",
                        cancelLabel : "取消",
                        fromLabel : "開始日期",
                        toLabel : "結束日期",
                        customRangeLabel : "自訂日期區間",
                        daysOfWeek : [ "日", "一", "二", "三", "四", "五", "六" ],
                        monthNames : [ "1月", "2月", "3月", "4月", "5月", "6月",
                        "7月", "8月", "9月", "10月", "11月", "12月" ],
                        firstDay : 1
                    }
                }, function(start, end, label) {

                    $("#start-date").html(start.format('MM-DD'))
                    $("#end-date").html(end.format('MM-DD'))
                });
            });

            $(".time-range-input").click(function(){
                $('input[name="daterange"]').click()
            })
        });
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAerAi8TQQPGAZSG-IDzjIM2tsh5Ai2QEk&callback=initMap&libraries=places&v=weekly" async></script>
}
