@model  CarRental.Frontend.Models.Car.CarDetailResponseModel
@{  
    ViewBag.Title = "Detail";  
} 
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<script>
 var map;
      function initMap() {
         var location = {lat: 25.048794000, lng: 121.589301000};
         map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: location,
            gestureHandling: 'greedy'
         });
         var marker = new google.maps.Marker({
            position: location,
            map: map
         });
      }

      function initSearch() {

         let options = {
            componentRestrictions: { country: 'tw' } // 限制在台灣範圍
         };
         this.autocomplete = new google.maps.places.Autocomplete(document.getElementById('PickUpLocation'), options)

         this.autocomplete.addListener('place_changed', () => {

            this.place = this.autocomplete.getPlace(); // 地點資料存進place
            
            // 確認回來的資料有經緯度
            if(this.place.geometry) {
            
                  // 改變map的中心點
                  let searchCenter = this.place.geometry.location;
                  
                  // panTo是平滑移動、setCenter是直接改變地圖中心
                  map.panTo(searchCenter);

                  // 在搜尋結果的地點上放置標記
                  let marker = new google.maps.Marker({
                     position: searchCenter,
                     map: map
                  });

                  // info window
                  let infowindow = new google.maps.InfoWindow({
                     content: this.place.formatted_address
                  });
                  infowindow.open(map, marker);
            }
         });
      }
   </script>
<div style="margin-top: 50px;margin-right:0px;margin-left:0px" class="row" >
	<div id="wrapper" style="width: 100%;">
      <div class="car-detail-carousel-wrapper" style="margin-left: 18%;margin-right: 18%;">
        <div style="width: 800px;margin:0px auto;" class="lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>
            <div class="owl-carousel-2 owl-centered-focus" data-plugin-options='{
                  "responsiveBaseElement":	"#wrapper", 
                  "loop":						true, 
                  "margin":					0, 
                  "nav":						true, 
                  "dots":						false, 
                  "center":					true, 
                  "slideBy":					"1", 
                  "autoplay":					true, 
                  "autoplayTimeout":			4500, 
                  "autoWidth":				false,
                  "merge":					true,
                  "rtl":						false,
                  "animateIn":				"flipInX",
                  "animateOut":				"flipOutX",
                  "responsive": {
                     "0":	{"items":1},
                     "600":	{"items":2},
                     "1000":	{"items":2}
                  }
               }'>
               <a href="https://gogoout-tw.s3-ap-northeast-1.amazonaws.com/car/3088/20210111152626488.jpg" class="image-hover-plus image-hover-overlay">
                  <img class="img-fluid" src="https://gogoout-tw.s3-ap-northeast-1.amazonaws.com/car/3088/20210111152626488.jpg" alt="">
               </a>
               <a href="https://gogoout-tw.s3-ap-northeast-1.amazonaws.com/car/2112/20210709180401059.jpg" class="image-hover-plus image-hover-overlay">
                  <img class="img-fluid" src="https://gogoout-tw.s3-ap-northeast-1.amazonaws.com/car/2112/20210709180401059.jpg" alt="">
               </a>
               <a href="https://gogoout-tw.s3-ap-northeast-1.amazonaws.com/car/3764/20220304101307232.jpg" class="image-hover-plus image-hover-overlay">
                  <img class="img-fluid" src="https://gogoout-tw.s3-ap-northeast-1.amazonaws.com/car/3764/20220304101307232.jpg" alt="">
               </a>
            </div>
         </div>
      </div>
   </div>    
</div> 
<div class="container" style="height: 800px;">
  <div class="car-desc">
      <h1 style="margin:0px auto;padding:5px;"></h1>
      <h4 style="margin:0px auto;padding: 10px;">車齡4年內 自排 人座 門 進口</h4>
   </div>
  <div class="row">
                <div id="search-input-wrapper" class="col-lg-5 col-md-12 col-sm-12 col-xs-12 vertical-container search-wrapper pointer">
                    <input id="search-input" style="margin-left: 10%;" class="controls pointer" type="text" placeholder="租車地點?" value="台北市"/>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 vertical-container search-wrapper"> 
                    <div class="search-text">起始時間</div>
                    <div class="date-time-wrapper" style="position: absolute; bottom: 0px; right:0px">
                        <text id="start-date" class="time-range-input">01-01</text>
                        <select id="start-time" style="font-size: 18px;" class="pointer">
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                        </select>
                     </div>
                     <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" style="visibility:hidden;" />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 vertical-container search-wrapper"> 
                    <div class="search-text">結束時間</div>
                    <div class="date-time-wrapper" style="position: absolute; bottom: 0px; right:0px">
                        <text id="end-date" class="time-range-input">02-01</text>
                        <select id="end-time"  style="font-size: 18px;" class="pointer">
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                        </select>
                     </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 vertical-container search-wrapper"> 
                    <div class="search-text">座位數</div>
                    <div class="search-bottom">
                        <select id="car-seat" class="form-control search-drop-down-list pointer" style="font-size: 18px;">
                            <option value="">座位數</option>
                            <option value="5">5 人以下</option>
                            <option value="6">6 人以上</option>
                            <option value="9">9 人款式</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 vertical-container search-wrapper">
                    <button href="#" class="btn btn-default btn-featured btn-inverse btn-round search-btn" onclick="search()">
                        <i class="fa fa-search btn-round"></i>
                    </button>
                     <button class="app-button"  href="#" onclick="search()">
                         送出
                    </button>
                </div>
            </div>
        </div>
        <div class="carousel-item active" style="height:100%;width:100%" alt="First slide">
            <section class="sliderImg d-block img-fluid" style="height:100%;width:100%"></section>
        </div>
        <div class="carousel-item" style="height: 100%">
            <section class="sliderImg2 d-block img-fluid" alt="Second slide" style="height:100%;width:100%"></section>
        </div>
   <div class="car-merchant-detail" style="width: 400px; height:300px; border: 1px solid rgb(221, 221, 221); border-radius: 12px; 
   padding: 24px; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px; position:fixed;top:380px;right:160px;">
       
   </div>
<div id="map" class="map">
</div>
@section Scripts
{
   <script type="text/javascript" charset="utf-8">
      var form = $('#postform')[0];
      var formData = new FormData(form);
       $.ajax({
                type: "POST",
                url: "@Url.Action("Detail","Car")",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data, textStatus, jqXHR) {
                  alert("success");
                },
                error: function (data, textStatus) {
                  alert(formData);
                },
            })
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAerAi8TQQPGAZSG-IDzjIM2tsh5Ai2QEk&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_locatorplus_v4_cA" async defer></script>
}




