@model  CarRental.Frontend.Models.Car.CarListResponseModel

@{
    Layout = "_Layout2";
}
@section Styles{
 <style type="text/css">
    #map {
        height: 400px;
        width: 60vw;
        height: calc(100% - 100px) !important;
        margin-top: 100px;
        position: fixed !important;
        overflow: hidden !important;
        height: 100vh !important;
    }
    .car-card
    {
        margin-right: 0px; 
        margin-left: 0px
    }
    #booking-container
    {
        height:100%;
        width:100%;
        position: relative;
        z-index:1;
    }
    #booking-content {
        width:65%;
        background-color:#FFFFFF;
        z-index:1;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        --tw-shadow: 0px 3px 6px hsla(0,0%,53.3%,0.1607843137254902);
        box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
        border-radius: 32px;
    }
    .search-wrapper{
        position: relative;
        height:70px;
        padding: 20px 0;
    }
    .search-text{
        position: absolute;
        left: 20px;
        top: 5px;
    }
    .search-bottom{
        position: absolute;
        right:20px;
        bottom:5px;
        border: none;
    }
    .search-drop-down-list
    {
        color: #000000 !important;
        border: none;
        max-height: 30px !important;
        padding: 4px 30px !important;
    }
    .search-btn
    {
        width: 70px;
        border-radius: 32px;
        background-color: #6988A9 !important;
        position: absolute;
        right: 10px;
    }
    select {
        color: #666;
        border: unset; 
        height: unset; 
        padding: unset; 
        outline: unset; 
        line-height: unset; 
        -webkit-border-radius: unset; 
        -moz-border-radius: unset;
        border-radius: unset; 
    }
    #search-input
    {
        border: none !important;
    }
    .time-range-input
    {
        cursor: pointer;
    }
    #booking-content
    {
        font-size: 18px;
    }
    .pointer{
        cursor: pointer;
    }
</style>
}
<script>
    var map;
    function initMap() {
        var location = {lat: 25.048794000, lng: 121.589301000};
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: location,
            gestureHandling: 'greedy'
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        initSearch()
    }

    function initSearch() {

        let options = {
            componentRestrictions: { country: 'tw' } // 限制在台灣範圍
        };
        this.autocomplete = new google.maps.places.Autocomplete(document.getElementById('PickUpLocation'), options)

        this.autocomplete.addListener('place_changed', () => {

            this.place = this.autocomplete.getPlace(); // 地點資料存進place
            
            // 確認回來的資料有經緯度
            if(this.place.geometry) {
            
                // 改變map的中心點
                let searchCenter = this.place.geometry.location;
                
                // panTo是平滑移動、setCenter是直接改變地圖中心
                map.panTo(searchCenter);

                // 在搜尋結果的地點上放置標記
                let marker = new google.maps.Marker({
                    position: searchCenter,
                    map: map
                });

                // info window
                let infowindow = new google.maps.InfoWindow({
                    content: this.place.formatted_address
                });
                infowindow.open(map, marker);
            }
      });
    }
</script>

<div style="background-color: #ff0000;width: 100%;height:100px;position: fixed;z-index: 99999;">
    
    <div id="booking-container" style="width: 100%; height:100%;background-color: #FFFFFF;cursor:pointer">
        <div id="booking-content">
            <div class="row">
                <div id="search-input-wrapper" class="col-lg-5 col-md-12 col-sm-12 col-xs-12 vertical-container search-wrapper pointer">
                    <input id="search-input" style="margin-left: 10%;" class="controls pointer" type="text" placeholder="租車地點?" value="台北市"/>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 vertical-container search-wrapper"> 
                    <div class="search-text">起始時間</div>
                    <div class="date-time-wrapper" style="position: absolute; bottom: 0px; right:0px">
                        <text id="start-date" class="time-range-input">01-01</text>
                        <select id="start-time" style="font-size: 18px;" class="pointer">
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                        </select>
                        </div>
                        <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" style="visibility:hidden;" />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 vertical-container search-wrapper"> 
                    <div class="search-text">結束時間</div>
                    <div class="date-time-wrapper" style="position: absolute; bottom: 0px; right:0px">
                        <text id="end-date" class="time-range-input">02-01</text>
                        <select id="end-time"  style="font-size: 18px;" class="pointer">
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                        </select>
                        </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 vertical-container search-wrapper"> 
                    <div class="search-text">座位數</div>
                    <div class="search-bottom">
                        <select id="car-seat" class="form-control search-drop-down-list pointer" style="font-size: 18px;">
                            <option value="">座位數</option>
                            <option value="5">5 人以下</option>
                            <option value="6">6 人以上</option>
                            <option value="9">9 人款式</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 vertical-container">
                    <button href="#" class="btn btn-default btn-featured btn-inverse btn-round search-btn" onclick="search()">
                        <i class="fa fa-search btn-round"></i>
                    </button>
                     @* <button class="app-button"  href="#" onclick="search()">
                         送出
                    </button> *@
                </div>
            </div>
        </div>
    </div>
    
    <div>
    </div>
    <div>
    </div>

</div>

<div id="card-map-wrapper" style="margin-right:0px;margin-left:0px" class="row" >
    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 vertical-container" style="padding:0px 0px">
        <div style="height: 100px;"> 

        </div>
        @foreach (var item in this.Model.CarList)
        {
            <div class="car-card row"> 
                <div class="col-lg-5 col-md-5 col-sm-12"> 
                    <div style="height: 220px;" class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "autoPlay": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                        <div>
                            <img class="img-fluid" src="https://gogoout-tw.s3-ap-northeast-1.amazonaws.com/car/3516/20210929152220536.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-fluid" src="https://gogoout-tw.s3-ap-northeast-1.amazonaws.com/car/3518/20210929152459142.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12"> 
                    <div class="row" style="width: 100%;">
                        <div class="col-12"><h3 style="margin:0px;">不限廠牌小型車</h3></div>
                        <div class="col-12">泓運租車</div>
                    </div>
                    <div class="row"  style="width: 100%;padding:0px 12px">
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-briefcase"></i><span>4年內</span>
                            </li>
                            <li>
                                <i class="fa fa-briefcase"></i><span>@item.Seat 人座</span>
                            </li>
                            <li>
                                <i class="fa fa-briefcase"></i><span>@item.DoorNum 門</span>
                            </li>
                            <li>
                                <i class="fa fa-briefcase"></i><span>GPS</span>
                            </li>
                        </ul>
                    </div>
                    <div style="bottom:0px;right:0px;position: absolute;"> <h3 style="margin:0px;">NTD $3,400</h3></div>
                </div>
            </div>
        }

       
        
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
        <div id="map" class="map map-test"></div>
        @* <input style="position: fixed;" id="PickUpLocation" type="text" ref="site" v-model="site"> *@
    </div>
</div>
@section Scripts
{
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $("#test").click(function(){
                $(this).animate({
                    width: '100%'
                });
            })
        });
    </script>

    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAerAi8TQQPGAZSG-IDzjIM2tsh5Ai2QEk&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_locatorplus_v4_cA" async defer></script>
}