@{
    ViewData["Title"] = "777";
}

<div style="background-color: #F0F0F0; padding:80px 15% 20px 15%">


    <div style="height: 500px;  background-color: #FFFFFF; margin-bottom:20px">
    </div>
    
    <div style="height: 500px;  background-color: #FFFFFF;">
    </div>
</div>