@{
    Layout = "_Layout2";
}

<section>
    <div class="container">
        <div id="login">
            <div class="row">
                <div class="col-md-6 col-sm-6 offset-md-3 offset-sm-3">
                    <div class="alert alert-mini alert-danger mb-30">
                        <strong>登錄失敗</strong> 密碼錯誤
                    </div>
                    <div class="box-static box-transparent box-bordered p-30">
                        <div class="box-title mb-30">
                            <h2 class="fs-20">您的手機號碼就是登入帳號</h2>
                        </div>
                        <form class="sky-form" method="post" action="#" autocomplete="off">
                            <div class="clearfix">
                                <label>帳號</label>
                                <label class="input mb-10">
                                    <i class="ico-append fa fa-envelope"></i>
                                    <input required="" type="email">
                                    <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                </label>
                                <label>密碼</label>
                                <label class="input mb-10">
                                    <i class="ico-append fa fa-lock"></i>
                                    <input required="" type="password">
                                    <b class="tooltip tooltip-bottom-right">Type your account password</b>
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="form-tip pt-20">
                                        <a class="no-text-decoration fs-13 mt-10 block" href="#"><strong>忘記密碼</strong></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-6 text-right">
                                    <button class="btn btn-primary"> 登入/註冊 </button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center">
                            <div class="mb-20">&ndash;&ndash;&ndash;&ndash; 或 &ndash;&ndash;&ndash;&ndash;</div>
                            <a class="btn btn-block btn-social btn-facebook mt-10">
                                <i class="fa fa-facebook"></i> Sign in with Facebook
                            </a>
                            <a class="btn btn-block btn-social btn-google mb-10">
                                <i class="fa fa-google-plus"></i> Sign in with Google
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

